.Button {
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    font-weight: bold;
    &:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }

    &:disabled {
        color: rgb(201, 201, 201);
        cursor: not-allowed;
    }

&--Success {
    color: #ffffff;
}

&--Danger {
    color: #aa2424;
}

&--loading {
    color: #ffffff;
    padding: 20px;
}

}






