
@use '../../styles/var-mixins' as vam;

 
.nav__menu {
    &__burger{
        display:none;
        @include vam.screens(mobile) {
            &{  position:relative;
                display:flex;
                justify-content:center;
                align-items:center;
                width:45px;
                height:45px;
                cursor:pointer;
                
                margin-right: 0.2rem;
               
        }
        }
        
        &__line,&__line2,&__line3 {
        position: absolute;
        width:32px;
        height:4px;
        background: black;
        border-radius: 6px;
        box-shadow: vam.$box-shadow;
        }
        
        &__line2{
        transform:translateY(10px);
        }
        
        &__line3{
        transform:translateY(-10px);
            }
        
        }


    }

 

.active{
color: rgb(78, 168, 168);
position: relative;

@include vam.screens(desktop) {
    &::after{
        content: '';
        position: absolute;
        background-color:  rgb(78, 168, 168);
        height:5px;
        width:23px;
        top:1.52rem;
        left:24%;
        border-radius: 4px;
        }

    }


 } 



.nav {



& ul{
    padding-right: 30px;
    @include vam.screens(mobile) {
    &{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    transform: translateX(2200%);       
    } }


& li{

 & button{
    width: 100px;
    height: 35px;
    color:rgb(71, 103, 117);
    background: #c2ebfd;
    border: 1px solid rgba(113, 157, 192, 0.7);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s linear;
    cursor: pointer;
    
    &.active--button{
        background:rgb(114, 217, 243) ;
        color:rgb(0, 0, 0);
        border: 1px solid rgba(64, 100, 124, 0.7);
    }


&:hover{
    background:rgb(160, 202, 212);
}

    }

display:inline-block;
list-style: none;
padding:0 2rem;
z-index:15;
&:hover{
color:rgb(9, 93, 72);

}

@include vam.screens(mobile) {
&{
padding:5rem;

& a{
padding:3rem;


&:hover{
color:rgb(15, 174, 195)
}

}
}
}
}
}
}

