@use '../styles/var-mixins' as vam;

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family:'Varela', sans-serif;
  border-color: white;
  height:100%;

@include vam.screens('mobile'){
overflow-x:hidden;
}
}



a {
  color: inherit;
  text-decoration: none;
}

* {
   
  box-sizing: border-box;
}

header{
display:flex;
justify-content: flex-end;
align-items: center;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

